<div [@routerTransition]>
    <div class="master-container">
        <div class=" w-100 h-100">
            <div class="control-section w-100 h-100">
                <div class="master-title d-flex align-items-center">
                    <p class="h5 title">{{'Master Category' | localize }}</p>
                </div>
                <div class="form-filter col-12 d-flex">
                    <div class="input-filter col-12 mr-1">
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12">
                                <div class="mb-5 m-form__group align-items-center">
                                    <div class="input-group">
                                        <label class="form-control m-label"> Name</label>
                                        <input name="filterText" autoFocus class="form-control m-input"
                                            placeholder="Search..." type="text" />
                                        <button class="btn btn-primary" type="submit" (click)="searchDatas()"> 
                                            {{ 'Search' | localize }} <i class="fas fa-search" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-danger" type="submit" (click)="clearTextSearch()"> 
                                            {{ 'Refresh' | localize }} <i class="fas fa-refresh" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-12 d-flex justify-content-start align-items-center">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="primeng-paging-container">
                                <div class="col-12">
 
                                </div>
        
                            </div>

                        </div>
                    </div>
                </div>
                <!-- chức năng  -->
                <div class="row">
                    <div class="col-12 d-flex justify-content-end align-items-center mt-10">
                        <div class="button-action mr-2">
                            <button class="btn btn-success">
                                <i class="fa fa-plus btn-md-icon"></i>
                                <span class="d-none d-md-inline-block">{{ 'Add' | localize }} </span> 
                            </button>
                        </div>
                        <div class="button-action mr-2">
                            <button class="btn btn-info"  >
                                <i class="fas fa-edit"></i>
                                <span class="d-none d-md-inline-block" >{{ 'Edit' | localize }} </span> 
                            </button>
                        </div>
                        <div class="button-action mr-2">
                            <button class="btn btn-danger"   >
                                <i class="fas fa-trash-alt"></i>
                                <span class="d-none d-md-inline-block">{{ 'Delete' | localize }} </span> 
                            </button>
                        </div>
                        <div class="button-action mr-2">
                            <button class="btn btn-dark">
                                <i class="fa fa-plus btn-md-icon"></i>
                                <span class="d-none d-md-inline-block">{{ 'Excel' | localize }} </span> 
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


<!-- <create-or-edit-category-modal #createOrEditCategory (modalSave)="searchDatas()"></create-or-edit-category-modal> -->