@using MyCompanyName.AbpZeroTemplate.Configuration
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Layout
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Views.Shared.Components.AppAreaNameMenu
@using MyCompanyName.AbpZeroTemplate.Web.Navigation
@using Abp.Configuration
@using Abp.Extensions
@model MenuViewModel
@{
    var theme = await GetTheme();
    var orderedMenuItems = Model.Menu.Items.OrderByCustom().ToList();
}

<div id="#kt_app_sidebar_menu" class="@Model.SideMenuClass" data-kt-menu="true">
    @if (theme.BaseSettings.Menu.SearchActive)
    {
        <div class="menu-item menu-item-submenu menuSearchItem" aria-haspopup="true"
             data-ktmenu-submenu-toggle="hover">
            <div class="mb-5 searchMenuContainerSelect2 aside-menu-@Html.Raw(theme.BaseSettings.Menu.AsideSkin)">
                <select class="form-select searchMenuSelect2 " aria-describedby="basic-addon2">
                    <option value="">@L("QuickNav")</option>
                </select>
            </div>
        </div>
    }
    @for (var i = 0; i < Model.Menu.Items.Count; i++)
    {
        var menuItem = orderedMenuItems[i];
        if (!menuItem.IsVisible)
        {
            continue;
        }
        @await Html.PartialAsync("Components/AppAreaNameMenu/_UserMenuItem", new UserMenuItemViewModel
        {
            MenuItem = menuItem,
            MenuItemIndex = i,
            RootLevel = true,
            CurrentPageName = Model.CurrentPageName,
            IconMenu = Model.IconMenu
        })
    }
</div>